<!--<div class="card mb-4">
  <img class="card-img-top" height="500px" src="/uploads/{{post.file}}" alt="Card image cap">
  <div class="card-body">
    <h2 class="card-title">{{post.title}}</h2>
    <p class="card-text">{{post.body}}</p>
    <a href="/login/{{id}}" class="btn btn-primary">Read More &rarr;</a>
  </div>
  <div class="card-footer text-muted">
    {{post.date}}
    <a href="#">Start Bootstrap</a>
  </div>
</div>-->
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Post - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/blog-post.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->


    <!-- Page Content -->
    <br><br>

    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4">Hi</h1>

          <!-- Author-->


          <hr>

          <!-- Preview Image -->
          <!--<img class="img-fluid rounded" src="/uploads/{{post.file}}" alt="">-->
          <img class="img-fluid rounded" src="/products.jpg" alt="hi">

          <hr>

          <!-- Post Content -->
          <p class="lead">yoyo</p>

          <blockquote class="blockquote">
            <p class="mb-0">yoy</p>
            <footer class="blockquote-footer">yyo
              <cite title="Source Title">yoyo</cite>
            </footer>
          </blockquote>

          <pyoyo</p>
          <hr>







        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
